# global .gitignore
# check out https://github.com/github/gitignore

/vendor
/tests/TestApp/cache/*

### random Mac/PC folder junk

*DS_Store
Thumbs.db
._*


### Files that might appear on external disk
.Spotlight-V100
.Trashes


### temporary files

*.tmp
*.bak


### logs and dbs

*.log
*.sql
*.sqlite
*.sqlite3
*.db


### compressed files
### (unpack and commit uncompressed files)

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


### IDE files

# TextMate:
*.tmproj
*.tmproject
tmtags

# BBEdit:
*.bbprojectd

# Eclipse:
.project
.classpath

# IDEA Products: IntelliJ, PHPStorm
*.iml
*.ipr
*.iws
.idea/

### Flash Dev

*.air
*.p12


### Web Dev

.sass-cache/
.powenv